[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
	autosquash = true
	autostash = true
	updateRefs = true

[fetch]
	prune = true
	pruneTags = true

[push]
	default = current
	autoSetupRemote = true
	followTags = true

[core]
	autocrlf = input
	editor = env NVIM_APPNAME=nvim-lite nvim
	pager = delta

[pager]
	diff = delta
	log = delta
	show = delta

[interactive]
	diffFilter = delta --color-only

[include]
	path = ~/.config/git/delta
	path = ~/.config/git/local

[merge]
	conflictstyle = zdiff3
  tool = pycharm

[diff]
	algorithm = histogram
	colorMoved = default
	renames = true
	tool = pycharm

[rerere]
	enabled = true

[alias]
	lg = log --graph --pretty=format:'%C(auto)%h %C(cyan)%ad %C(green)%an%C(auto)%d %s' --date=short
	lga = lg --all
	review = log origin/main..HEAD --stat
	review-compact = log origin/main..HEAD --oneline
	changes = diff origin/main...
	staged = diff --cached
	conflicts = diff --name-only --diff-filter=U
	fixup = commit --fixup
	wip = commit -am "WIP"
	undo = reset --soft HEAD~1
	coi = !git checkout $(git branch --sort=committerdate | fzf)

[difftool "pycharm"]
	cmd = pycharm diff "$LOCAL" "$REMOTE"

[mergetool "pycharm"]
	cmd = pycharm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
